<%- include('../partials/_header') %>

<form action="/employees/<%= employee._id %>/edit?_method=PUT" method="post">
  <label for="profilePicture">Profile Picture: </label>
  <input
  type="text"
  name="profilePicture"
  id="profilePicture"
  value="<%= employee.profilePicture %>"
  />
  <br />
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value="<%= employee.name %>" />
  <br />
  <label for="phone">Phone: </label>
  <input type="text" name="phone" id="phone" value="<%= employee.phone %>" />
  <br />
  <label for="salary">Salary: </label>
  <input
  type="number"
    name="salary"
    id="salary"
    value="<%= employee.salary %>"
  />
  <br />
  <label for="department">Department: </label>
  <select name="department" id="department" id="department" value="<%= employee.department  %>">
    <option value="Sales"  <%= employee.department === "Sales"? "selected" : "" %>  >Sales</option>
    <option value="Marketing" <%= employee.department === "Marketing"? "selected" : "" %> >Marketing</option>
    <option value="IT" <%= employee.department === "IT"? "selected" : "" %> >IT</option>
  </select>
  <br />  
  <button type="submit">Update Employee</button>
</form>

<%- include('../partials/_footer') %>