<%- include('../partials/_header') %>
<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center">
    <h1>list of employees</h1>
    <a href="/employees/new" class="btn btn-outline-primary" role="button"
      >add an employee</a
    >
  </div>
  <div class="row row-cols-3">
    <% employees.forEach((employee, index) => { %>

    <div class="col g-5">
      <a class="text-decoration-none" href="/employees/<%= employee._id %>">
        <div class="card" style="width: 18rem">
          <img
            src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title text-secondary-emphasis">
              <%= employee.name %>
            </h5>
            <p class="card-text text-secondary-emphasis mb-2">
              <%= employee.department %>
            </p>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>
<%- include('../partials/_footer') %>
