<%- include('../partials/_header') %>

<div class="container">
  <main class="form-signin w-50 m-auto">
    <form action="/projects/<%= project._id %>/edit?_method=PUT" method="post">
      <h1 class="h3 mb-3 fw-normal">Update Project Info</h1>

      <div class="form-floating mb-4">
        <input
          type="text"
          name="projectName"
          id="floatingInput"
          class="form-control"
          value="<%= project.projectName %>"
        />
        <label for="projectName">Name: </label>
      </div>

      <div class="form-floating mb-4">
        <input
          type="date"
          name="startDate"
          class="form-control"
          id="floatingInput"
          value="<%= project.startDateFormatted %>"
        />
        <label for="startDate">start Date: </label>
      </div>

      <div class="form-floating mb-4">
        <input
          type="date"
          name="deadLine"
          class="form-control"
          id="floatingInput"
          value="<%= project.deadLineFormatted %>"
        />
        <label for="deadLine">Dead line: </label>
      </div>

      
      <div class="form-floating mb-4">
        <input
          type="number"
          name="budget"
          class="form-control"
          id="floatingInput"
          value="<%= project.budget %>"
        />
        <label for="budget">budget: </label>
      </div>

      <div class="form-floating mb-4">
        <!-- <input type="textarea" name="description" class="form-control" id="floatingInput" value="<%= project.description %>"/> -->
        <textarea
          style="height: 200px"
          name="description"
          class="form-control"
          id="floatingInput"
        >
<%= project.description %></textarea
        >
        <label for="description">description: </label>
      </div>

      <fieldset class="mb-4">
        <legend class="col-form-label">Employees</legend>
        <% employees.forEach(emp => { %>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="employees"
            id="emp-<%= emp._id %>"
            value="<%= emp._id %>"
          />
          <label class="form-check-label" for="emp-<%= emp._id %>"
            ><%= emp.name %></label
          >
        </div>
        <% }) %>
      </fieldset>

      <button class="btn btn-primary w-100 py-2" type="submit">
        Update Project
      </button>
    </form>
  </main>
</div>

<%- include('../partials/_footer') %>
